<div class="d-flex mb-3">
<input class="form-control" type="text" name="domain_name" placeholder="example.com">                                  
</div>
<div class="card text-white bg-info mb-3">
  <div class="card-header"><h5 class="card-title">Nameserver Setup</h5></div>
  <div class="card-body">
    <p class="card-text">Please update your domain’s nameserver settings at your domain registrar to the following:</p>
    <ul>
      {% for i in 1..5 %}
        {% set key = 'ns' ~ i %}
        {% if product.config[key] is defined and product.config[key] %}
          <li>{{ product.config[key] }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<input type="hidden" name="id" value="{{ product.id }}"/>
<input type="hidden" name="action" value="register" id="dns-action"/>